<mat-form-field appearance="outline">
  <mat-label>Select an interval</mat-label>
  <mat-select disableRipple [(value)]="selected" (selectionChange)="onSelect()">
      <mat-optgroup *ngFor="let group of intervalGroups" [label]="group.name"
                    [disabled]="group.disabled">
        <mat-option *ngFor="let i of group.interval" [value]="i.value"
                    (onSelectionChange)="selected=i.value">
          {{i.value}}
        </mat-option>
      </mat-optgroup>
  </mat-select>
</mat-form-field>
