<nav class='navbar navbar-expand navbar-light bg-light'
     style="background-color: saddlebrown; height: 100%; border-radius: 3px;">

  <ul style="list-style: none; padding-inline-start: 0; ">
    <li style="display: inline; vertical-align: 50%; position: static; padding: 1%">
      <button mat-icon-button>
        <mat-icon fontIcon="bar_chart" class="header-icon" (click)="openDialog()"></mat-icon>
      </button>
    </li>

    <li class="header-item">
      <a routerLinkActive='active' routerLink='/simple'>
        <strong class="header-item">Simple</strong>
      </a>
    </li>
    <li class="header-item">
      <a routerLinkActive='active' routerLink='/full'>
        <strong class="header-item">Full</strong>
      </a>
    </li>

    <li class="header-item">
      <a routerLinkActive='active' routerLink='/simple'>
        <strong class="header-item">Collector</strong>
      </a>
    </li>
<!--    <li class="header-item">-->
<!--      <a routerLinkActive='active' routerLink='/full'>-->
<!--        <strong class="header-item">Runner</strong>-->
<!--      </a>-->
<!--    </li>-->

    <li style="display: inline;vertical-align: 50%; position: static; float: right; padding-right: 1%">
        <dialog-overview-example> </dialog-overview-example>
    </li>

  </ul>

</nav>

<!--  <div class='container'>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->

<!--  <div>-->
<!--    <a href="http://{{ jarLocation }}/jar/test.jar" target="_blank">-->
<!--      Get JAR-->
<!--    </a>-->
<!--  </div>-->

<canvas-chart></canvas-chart>

<!--&lt;!&ndash;  add buy/sell &ndash;&gt;-->
<!--<div>-->
<!--  <div>-->
<!--    <button (click)="buy(inb.value)" style="color: green">-->
<!--      BUY-->
<!--    </button>-->
<!--    <input type="text" value="0" #inb style="width: 50px">-->
<!--  </div>-->
<!--  <div>-->
<!--    <button (click)="sell(ins.value)" style="color: red">-->
<!--      SELL-->
<!--    </button>-->
<!--    <input type="text" value="0" #ins style="width: 50px">-->
<!--  </div>-->

<!--</div>-->

<!--<div>-->
<!--  <h2> Lightweight-Charts </h2>-->
<!--  <div>-->
<!--    <button (click)="getAcc()" >-->
<!--      Acc Info-->
<!--    </button>-->
<!--  </div>-->
<!--  &lt;!&ndash;<span> Balance: {{balance | json}} </span>&ndash;&gt;-->
<!--  <div *ngIf="balances.length">-->
<!--      <h4>Acc type:&nbsp;</h4><h3>  {{ accTypeValue }}</h3>-->
<!--      <h4>Isolated:&nbsp;</h4><h3>  {{ isAccIsolated }}</h3>-->
<!--      <h4 *ngFor="let b of balances">Asset {{ b.asset }} &nbsp; {{ b.free }} </h4>-->
<!--  </div>-->
<!--  <br>-->
<!--  <div style="padding: 10px">-->
<!--&lt;!&ndash;    todo margin trades    &ndash;&gt;-->
<!--    <button (click)="showTrades = !showTrades">-->
<!--      {{showTrades ? 'Hide' : 'Show'}} Trades-->
<!--    </button>-->
<!--    <div *ngIf="showTrades">-->
<!--  &lt;!&ndash;    table&ndash;&gt;-->
<!--      <h5 *ngFor="let t of myTrades">-->
<!--        Symbol {{ t.symbol }} &nbsp;-->
<!--        Time {{ t.time }} &nbsp;-->
<!--        QuoteQty {{ t.quoteQty }}-->
<!--      </h5>-->
<!--    </div>-->
<!--    &lt;!&ndash;    todo margin trades on chart button   &ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<!--<div>-->
<!--  <div style="float: right">-->
<!--    <button (click)="test(t.value)" style="padding: 5px">-->
<!--      RUN TEST-->
<!--    </button>-->
<!--    <br>-->
<!--    <button (click)="save(t.value)" style="padding: 5px">-->
<!--      SAVE STRATEGY-->
<!--    </button>-->
<!--  </div>-->
<!--  <div>-->
<!--    <textarea  [(ngModel)]="example" #t style="overflow: scroll; width: 500px; height: 300px"></textarea>-->
<!--  </div>-->
<!--</div>-->
